<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>865138762551-0gir4gqil9mi3gs7i925er217avgh3mg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865138762551-0gir4gqil9mi3gs7i925er217avgh3mg</string>
	<key>API_KEY</key>
	<string>AIzaSyCdwf8IPQWrhZYQs6XFuyfOtnhI3SmEC0c</string>
	<key>GCM_SENDER_ID</key>
	<string>865138762551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.atropos.deep6</string>
	<key>PROJECT_ID</key>
	<string>deep-6</string>
	<key>STORAGE_BUCKET</key>
	<string>deep-6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865138762551:ios:89d26fad0ebee3c1</string>
	<key>DATABASE_URL</key>
	<string>https://deep-6.firebaseio.com</string>
</dict>
</plist>